@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .paddyfield-scroll {
      scrollbar-width:thin;
      scrollbar-color: rgb(125, 134, 148) rgb(179, 228, 179);
    }
    .paddyfield-scroll2 {
      scrollbar-width:none;
      scrollbar-color: rgb(125, 134, 148) rgb(179, 228, 179);
    }
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
  

