@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .paddyfield-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgb(125, 134, 148) rgb(179, 228, 179);
  }
  .paddyfield-scroll2 {
    scrollbar-width: none;
    scrollbar-color: rgb(125, 134, 148) rgb(179, 228, 179);
  }
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, 1, 1, 360deg);
    opacity: 0.2;
  }
}

@keyframes spin-slow-reverse {
  0% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
  100% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
  transform-origin: center;
}

.animate-spin-slow-reverse {
  animation: spin-slow-reverse 6s linear infinite;
  transform-origin: center;
}
